header {
  background: linear-gradient(rgba(0, 123, 255, 0.8), rgba(0, 123, 255, 0.8)),
    url("https://www.workitdaily.com/media-library/happy-employees-on-a-successful-team.jpg?id=30117495&width=1245&height=700&quality=85&coordinates=0%2C66%2C0%2C28");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  color: white;
  font-size: 60px;
}
